[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
statsmodels = "*"
pingouin = "*"
uvicorn = "*"
requests = "*"
fastapi = "*"
pydantic = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.13"
